<div class="wrapper">
  <div>
    <h1 class="">WORDLE</h1>
    <button
      mat-raised-button
      class="button"
      *ngIf="this.solution.endGame"
      (click)="clear()"
      tabIndex="-1"
    >
      New word
    </button>
  </div>
  <div class="container">
    <div class="d-flex w-100 gap-3 justify-content-center">
      <h2 *ngIf="headMsg" class="d-flex">
        {{ headMsg }}
      </h2>
      <h2 *ngIf="solution" class="d-flex">
        {{ solution.endGame }}
      </h2>
    </div>

    <div class="board-all">
      <div class="board-wrapper mb-3">
        <app-board [guesses]="guesses"></app-board>
      </div>
    </div>

    <app-keyboard
      class="keyboard-wrapper"
      [keyboardColors]="keyboardColors"
      (letterClicked)="addLetter($event)"
      (enterClicked)="enter()"
      (backspaceClicked)="removeLetter()"
    >
    </app-keyboard>
  </div>
</div>
