@import "/src/styles.scss";

.focusCell {
  border: 2px solid blue !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  max-width: $breakpoint-sm;
}

.keyboard-down {
  display: flex;
}
