<div class="wrapper">
  <h1 class="">WORDLE</h1>
  <h1>{{ attemptIndex }}</h1>
  <button mat-raised-button class="button" (click)="clear()" tabIndex="-1">
    New word
  </button>
  <h2 *ngIf="errorMsg">{{ this.errorMsg }}</h2>

  <div class="board-all">
    <div class="board-wrapper">
      <app-board [guesses]="guesses"></app-board>
    </div>
  </div>

  <app-keyboard
    class="keyboard-wrapper"
    (letterClicked)="addLetter($event)"
    (enterClicked)="enter()"
    (backspaceClicked)="removeLetter()"
  >
  </app-keyboard>
</div>
