@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin3D {
  0% {
    transform: rotateY(0deg); /* Comienza sin rotar */
    background-color: transparent; /* Fondo transparente al principio */
  }
  100% {
    transform: rotateY(360deg); /* Completa el giro a 360 grados */
    background-color: limegreen; /* Mantén el color verde */
  }
}

.bounce {
  animation: bounce 0.3s ease;
}

.focusCell {
  border: 1px solid gray;
}

.cell {
  transition: all 0.3s;
}

.correctLetter {
  border: 1px solid green;
  background-color: transparent; /* Fondo transparente al inicio */
  display: inline-block; /* Para asegurar que se comporte como un bloque */
  transform-style: preserve-3d; /* Importante para mantener el efecto 3D */
  animation: spin3D 0.5s ease forwards; /* Aplica la animación de giro 3D */
}

.absentLetter {
  border: 1px solid black;
  background-color: gray !important;
}

.presentLetter {
  border: 1px solid orange;
  background-color: yellow !important;
}

.wrapper {
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

.board-all {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 255px;
  max-height: 305px;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;
  padding: 5px;
}

.guess-line {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.25rem;
  display: grid;
  flex-direction: row;
}

.letter-box {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  width: 45px;
  max-width: 62.5px;
  height: 45px;
  border: 2px solid rgb(244, 244, 244);
  font-weight: bold;
  border: 5px;
  user-select: none;
  cursor: default;
  font-size: 1.8rem;
}

.keyboard-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  padding: 5px;
}

.keyboard {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 32rem;
  gap: 7px;
}

.keyboard-row {
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 0.25rem;
  display: grid;
}

.keyboard-down {
  display: flex;
}

.keyboard-button {
  min-width: 0px;
  color: black;
  height: 56px;
  font-size: 0.9rem;

  line-height: 1.25rem;

  padding-left: 0.75rem;
  padding-right: 0.75rem;

  white-space: nowrap;

  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: inline-flex;
  cursor: pointer;
  background-color: white;
  text-transform: uppercase;

  border-radius: 5px;
}
