<div class="keyboard">
  <div class="keyboard-row">
    <button
      *ngFor="let cell of row1"
      class="keyboard-button"
      [ngClass]="cell.color"
      (click)="addLetter(cell.letter)"
    >
      {{ cell.letter }}
    </button>
  </div>

  <div class="keyboard-row">
    <button
      *ngFor="let cell of row2"
      class="keyboard-button"
      [ngClass]="cell.color"
      (click)="addLetter(cell.letter)"
    >
      {{ cell.letter }}
    </button>
  </div>

  <div class="d-flex keyboard-row">
    <button class="keyboard-button" (click)="removeLetter()">
      <mat-icon>backspace</mat-icon>
    </button>

    <button
      *ngFor="let cell of row3"
      class="keyboard-button"
      [ngClass]="cell.color"
      (click)="addLetter(cell.letter)"
    >
      {{ cell.letter }}
    </button>

    <button class="keyboard-button" (click)="enter()">Enter</button>
  </div>
</div>
