/* You can add global styles to this file, and also import other style files */
$breakpoint-xs: 480px;
$breakpoint-sm: 767px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1600px;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
